<% const d = new Date(); const year = d.getFullYear(); %>
    <footer>
        <p><a href="/database">Database Video</a></p>
        <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    </footer>