<section class="inventory-admin" aria-labelledby="inventory-admin-title">
  <h1 id="inventory-admin-title"><%= title %></h1>

  <%- messages() %>

  <p class="inventory-admin__intro">Manage inventory content using the options below.</p>

  <div class="inventory-admin__links">
    <a class="inventory-admin__link" href="/inv/add-classification" title="Add a new vehicle classification">
      Add New Classification
    </a>
    <a class="inventory-admin__link" href="/inv/add-inventory" title="Add a new vehicle to inventory">
      Add New Vehicle
    </a>
  </div>

  <h2>Manage Inventory</h2>
  <p>Select a classification from the list to see inventory items in that classification.</p>

  <%- classificationSelect %>

  <table id="inventoryDisplay"></table>
  <noscript>JavaScript must be enabled to use this page.</noscript>

  <script src="../../js/inventory.js"></script>
</section>
